table{
    box-sizing: border-box;
    border-collapse: collapse;
}
td {
    width: 10px;
    height: 10px;
    background-color:azure;
    text-align: center;
}
.rahmen-oben {
    border-top: solid 2px black;
}
.rahmen-rechts {
    border-right: solid 2px black;
}
.rahmen-unten {
    border-bottom: solid 2px black;
}
.rahmen-links {
    border-left: solid 2px black;
}